

.page-container {
    margin-left: -20px;
    margin-right: -20px;
}
    
.navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.66);
    padding: 20px;
}



.idno-content {
    border-radius: 10px;
    padding: 0;

    .author, .datestamp, .entry-content, .footer {
        padding: 20px;
    }

    .author {
    }
    .author + break {
        display: none;
    }
    .datestamp {
    }
    .entry-content {
    }
    .footer {
    }
}



.idno_pages_homepage, .idno_pages_user_view {
}


